---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title> Max App Lab </title>
	</head>
	<body style="background-color: darkmagenta;">
		<h1 style="color: snow; margin-left: 25px;">Max App Lab</h1>
		<!-- <dev >
			<p style="margin-left: 35px;">
				<link><span style=" font-size: x-large; color: snow;"> About </span></link>
			</p>

		</dev> -->
	</body>
</html>
